<router-outlet></router-outlet>

<app-topsearchbar></app-topsearchbar>

<table>
  <tr>
    
      <app-sidenavbar></app-sidenavbar>
    
    <td id = "main">
      <ng-container *ngIf="getProfile()"><app-profile></app-profile></ng-container>
      <ng-container *ngIf="getEdit()"><app-edit-profile ></app-edit-profile></ng-container>
      <ng-container *ngIf="getForum()"><app-dashboard ></app-dashboard></ng-container>
    </td>
  </tr>
</table>

<!--
<p>Injecting a post creation form to test...</p>
<app-createpost></app-createpost>
-->