<div class="container border" *ngIf="openBook">
  <div class="row">
    <div class="col-sm border card">
      <h4 class="border border-dark mx-auto">{{employee.firstname}}</h4>
      
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <h5>Username:</h5>
        </div>
        <div class="col">
          <p>{{employee.username}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>First Name:</h5>
        </div>
        <div class="col">
          <p>{{employee.firstname}}</p>
        </div>
      </div>
  </div>
</div>