<head>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  
  <!--<link rel="stylesheet" type="text/css" href="./topsearchbar.component.css">-->
   
</head>

<div class="row">
  <header>
      <div class="col-md-7">
          <nav class="navbar-default pull-left">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
          </nav>
          <div class="search hidden-xs hidden-sm">
              <input type="text" placeholder="Search for users or posts..." id="search">
          </div>
      </div>
      <div class="col-md-5">
          <div class="header-rightside">
              <ul class="list-inline header-top pull-right">
                  <li class="hidden-xs"><a routerLink="/createpost" class="add-project">Ask a question!</a></li>
                 
                  
                  <li class="dropdown">
                    <button id="logout" type = "submit" class = "btn btn-danger" (on-click) = 'logout()'>Logout</button>
                  </li>
              </ul>
          </div>
      </div>
  </header>
</div>

    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
            <div class="modal-dialog">
    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header login-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Post a question in the forum!</h4>
                    </div>
                    <div class="modal-body">
                                <input type="text" placeholder="Question Title" name="name">
                                <input type="text" placeholder="Relevant Languages" name="mail">
                                <input type="text" placeholder="Relevant Technologies" name="passsword">
                                <textarea placeholder="Detailed Description"></textarea>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-dismiss="modal">Close</button>
                        <button type="button" class="add-project" data-dismiss="modal">Save</button>
                    </div>
                </div>
    
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('[data-toggle="offcanvas"]').click(function(){
                    $("#navigation").toggleClass("hidden-xs");
                });
            });
        </script>