<div class="container border" *ngIf="employee">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col">
            <h5>Username:</h5>
          </div>
          <div class="col">
            <!--<input type="text" [(ngModel)]="employee.username" name="username">-->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Password:</h5>
          </div>
          <div class="col">
           <input type="text" [(ngModel)]="employee.password" name="password">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>First Name:</h5>
          </div>
          <div class="col">
           <input type="text" [(ngModel)]="employee.firstname" name="firstname">
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
  </form>
</div>

<div class="container border" *ngIf="instructor">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col">
            <h5>Username:</h5>
          </div>
          <div class="col">
           <input type="text" [(ngModel)]="instructor.username" name="username">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Password:</h5>
          </div>
          <div class="col">
          <!--  <input type="text" [(ngModel)]="instructor.password" name="password">-->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>First Name:</h5>
          </div>
          <div class="col">
         <!--   <input type="text" [(ngModel)]="instructor.firstname" name="firstname">-->
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
  </form>
</div>

<div class="container border" *ngIf="client">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col">
            <h5>Username:</h5>
          </div>
          <div class="col">
          <!--  <input type="text" [(ngModel)]="client.username" name="username">-->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Password:</h5>
          </div>
          <div class="col">
          <!--  <input type="text" [(ngModel)]="client.password" name="password">-->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>First Name:</h5>
          </div>
          <div class="col">
          <!--  <input type="text" [(ngModel)]="client.firstname" name="firstname">-->
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
  </form>
</div>