<div class="container border" *ngIf="employee">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-3">
            <label>Username: </label> <input type="text" [(ngModel)]="employee.username" name="username">
          </div>
          <div class="col-sm-3">
            <label>Password:</label> <input type="text" [(ngModel)]="employee.password" name="password">
          </div>          
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label>First Name:</label> <input type="text" [(ngModel)]="employee.firstname" name="firstname">
          </div>
          <div class="col-sm-3">
            <label>Last Name:</label> <input type="text" [(ngModel)]="employee.lastname" name="lastname">
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
  </form>
</div>

<div class="container border" *ngIf="instructor">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-3">
            <label>Username:</label> <input type="text" [(ngModel)]="instructor.username" name="username">
          </div>
          <div class="col-sm-3">
            <label>Password:</label> <input type="text" [(ngModel)]="instructor.password" name="password">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label>First Name:</label> <input type="text" [(ngModel)]="instructor.firstname" name="firstname">
          </div>
          <div class="col-sm-3">
            <label>Last Name:</label> <input type="text" [(ngModel)]="instructor.lastname" name="lastname">
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
  </form>
</div>

<div class="container border" *ngIf="client">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-3">
            <label>Company:</label> <input type="text" [(ngModel)]="client.company" name="company">
          </div>
          <div class="col-sm-3">
            <label>Username:</label> <input type="text" [(ngModel)]="client.username" name="username">
          </div>
          <div class="col-sm-3">
            <label>Password:</label> <input type="text" [(ngModel)]="client.password" name="password">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label>First Name:</label> <input type="text" [(ngModel)]="client.firstname" name="firstname">
          </div>
          <div class="col-sm-3">
            <label>Last Name:</label> <input type="text" [(ngModel)]="client.lastname" name="lastname">
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>
  </form>
</div>