<div class="modal-content">
  <div class="modal-header login-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4 class="modal-title">Post a question in the forum!</h4>
  </div>
  <div class="modal-body">
              <input type="text" placeholder="Question Title" name="name">
              <input type="text" placeholder="Relevant Languages" name="mail">
              <input type="text" placeholder="Relevant Technologies" name="passsword">
              <textarea placeholder="Detailed Description"></textarea>
      </div>
  <div class="modal-footer">
      <button type="button" class="cancel" data-dismiss="modal">Close</button>
      <button type="button" class="add-project" data-dismiss="modal">Save</button>
  </div>
</div>