<head>
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

    <!--<link rel="stylesheet" type="text/css" href="./dashboard.component.css">-->

  </head>
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">

            <!--
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="https://preview.ibb.co/fjGARd/LARREVATURE_MAGNUMOPUS.jpg" alt="LARREVATURE BABY!!!" class="hidden-xs hidden-sm">
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3684893.jpg" alt="LARREVATURELOGO" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
                        <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">HAHAHAHAHAHAHAHA</span></a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Learning aids</span></a></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calendar</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Edit Profile</span></a></li>
                    </ul>
                </div>
            </div>
            -->

            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->

                <!--

                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search for users or posts..." id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Ask a question!</a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Lawrence of Arabia</span>
                                                    <p class="text-muted small">
                                                        VegetableEater@iHateMeat.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                    <a href="#" class="view btn-sm active">Log out!</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>

                -->

                <div class="user-dashboard">
                    <h1></h1>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                            <div class="sales">
                                <h2>Pinned Questions</h2>

                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Period:</span> Most recent
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">This year</a>
                                        <a href="#">This month</a>
                                        <a href="#">This week</a>
                                        <a href="#">Today</a>
                                    </div>
                                </div>                                
                            </div>
                            
                            
                            <!-- Add pinned forum posts here -->
                            <app-forumpost></app-forumpost>

                            <div class="col-md-4">
                                <div class="card">
                                  <div class="card-title p-l p-t">
                                    <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                                    <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                                  </div>
                                  <div class="card-block">
                                    <p class="card-text">Hardcoded dummy posts below...</p>
                                    
                                    <div class="card-text">
                                      <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                                      <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="card-footer text-muted">
                                    <div class="input-group input-group-sm">
                                      <input type="text" class="form-control" placeholder="Comment this... :)">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-4">
                                  <div class="card">
                                    <div class="card-title p-l p-t">
                                      <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                                      <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                                    </div>
                                    <div class="card-block">
                                      <p class="card-text">Pretend that we're connected with the database...</p>
                                      
                                      <div class="card-text">
                                        <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                                        <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                    <div class="card-footer text-muted">
                                      <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Comment this... :)">
                                        <span class="input-group-btn">
                                          <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                      <div class="card-title p-l p-t">
                                        <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                                        <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                                      </div>
                                      <div class="card-block">
                                        <p class="card-text">Pretend that we're connected with the database...</p>
                                        
                                        <div class="card-text">
                                          <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                                          <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                      <div class="card-footer text-muted">
                                        <div class="input-group input-group-sm">
                                          <input type="text" class="form-control" placeholder="Comment this... :)">
                                          <span class="input-group-btn">
                                            <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="card">
                                        <div class="card-title p-l p-t">
                                          <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                                          <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                                        </div>
                                        <div class="card-block">
                                          <p class="card-text">Pretend that we're connected with the database...</p>
                                          
                                          <div class="card-text">
                                            <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                                            <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                                          </div>
                                          <div class="clearfix"></div>
                                        </div>
                                        <div class="card-footer text-muted">
                                          <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" placeholder="Comment this... :)">
                                            <span class="input-group-btn">
                                              <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>





                        </div>
                      
                        <div class="col-md-7 col-sm-7 col-xs-12 gutter">
                            <div class="sales report">
                                <h2>Forum Questions</h2>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Period:</span> Today
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">This week</a>
                                        <a href="#">This month</a>
                                        <a href="#">This year</a>
                                        <a href="#">All time</a>
                                    </div>
                                </div>
                            </div>    
                            



                                       <!-- Add forum feed here -->
          
           <div class="col-md-4">
              <div class="card">
                <div class="card-title p-l p-t">
                  <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                  <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                </div>
                <div class="card-block">
                  <p class="card-text">Pretend that we're connected with the database...</p>
                  
                  <div class="card-text">
                    <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                    <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="card-footer text-muted">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Comment this... :)">
                    <span class="input-group-btn">
                      <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                  <div class="card-title p-l p-t">
                    <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                    <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                  </div>
                  <div class="card-block">
                    <p class="card-text">Pretend that we're connected with the database...</p>
                    
                    <div class="card-text">
                      <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                      <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="card-footer text-muted">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" placeholder="Comment this... :)">
                      <span class="input-group-btn">
                        <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                    <div class="card-title p-l p-t">
                      <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                      <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                    </div>
                    <div class="card-block">
                      <p class="card-text">Pretend that we're connected with the database...</p>
                      
                      <div class="card-text">
                        <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                        <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="card-footer text-muted">
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Comment this... :)">
                        <span class="input-group-btn">
                          <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                      <div class="card-title p-l p-t">
                        <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
                        <span class="label label-default"><b>Lawrence of Arabia</b> - <em>6 hours ago</em></span>
                      </div>
                      <div class="card-block">
                        <p class="card-text">Pretend that we're connected with the database...</p>
                        
                        <div class="card-text">
                          <a class="btn btn-sm btn-danger pull-left"><b>+10</b></a>
                          <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> 0</a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="card-footer text-muted">
                        <div class="input-group input-group-sm">
                          <input type="text" class="form-control" placeholder="Comment this... :)">
                          <span class="input-group-btn">
                            <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>



          


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



 
    <!-- Modal -->
 
</body>


