<!--
<li *ngFor='let f of forums'>
<div class="col-md-4" >
  <div class="card">
    <div class="card-title p-l p-t">
      <span>{{f.questionTitle}}</span>
      <span class="label label-default"><b>    {{f.name}}}      </b> - <em>{{f.dateposted}}</em></span>
    </div>
    <div class="card-block">
      <p class="card-text">    {{f.description}}      </p>
      <div class="card-text">
      </div>
    </div>


  </div>
</div>
</li>
-->
<li *ngFor='let f of forums'>
<div class="container">
    <div class="row">
        <h3><b>{{f.questionTitle}}</b></h3>
          <div class="panel panel-primary">
              <h6>{{f.nameOfPoster}} posted on {{f.datePosted}}</h6>
               <div class="panel-heading">                  
                    <pre>
                        {{f.questionAsked}}
                    </pre>
               </div>
            </div>
            <div class="input-group input-group-lg">
                <input type="text" class="answer" placeholder="Answer..."><button type ="button" class="button btn-med btn-primary">Comment</button>
              </div>
          </div>
        </div>
      </li>
