<div class="col-md-4" >
  <div class="card">
    <div class="card-title p-l p-t">
      <img class="img-circle img-thumbnail" src="https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif" width="64" height="64" alt="Avatar">
      <span class="label label-default"><b>    {{f.name}}}      </b> - <em>{{f.dateposted}}</em></span>
    </div>
    <div class="card-block">
      <p class="card-text">    {{f.description}}}      </p>
      <div class="card-text">
        <a class="btn btn-sm btn-danger pull-left"><b>   {{f.likes}}}       </b></a>
        <a class="btn btn-sm btn-primary-outline pull-right"><i class="fa fa-comments-o"></i> {{f.comments}}</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="card-footer text-muted">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Answer...">
        <span class="input-group-btn">
          <button class="btn btn-primary-outline" type="button"><i class="fa fa-edit"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>