<div class="container border" *ngIf="employee">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col">
            <h5>Username:</h5>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="employee.username" name="username">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Password:</h5>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="employee.password" name="password">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>First Name:</h5>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="employee.firstname" name="firstname">
          </div>
        </div>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </form>
</div>
